<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Office List</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Office Address</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody th:each="office : ${offices}">
    <tr>
        <td th:text="${office.address.cityName} + '/' + ${office.address.districtName}"></td>
        <td th:text="${office.email}"></td>
        <td th:text="${office.phoneNumber}"></td>
        <td><a th:href="@{/api/office/edit/{officeId}(officeId = ${office.officeId})}">Edit</a></td>
        <td><a th:href="@{/api/office/delete/{officeId}(officeId = ${office.officeId})}">Delete</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>