<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Office Save/Edit</title>
</head>
<body>

<form th:action="@{${url}}" method="post" th:object="${office}">
    <p style="color: red" th:text="${error}"></p>
    <input type="text" th:field="*{phoneNumber}" placeholder="phoneNumber">
    <input type="email" th:field="*{email}" placeholder="email">
    <input type="text" th:field="*{address.cityName}" placeholder="cityName">
    <input type="text" th:field="*{address.districtName}" placeholder="cityName">
    <input type="text" th:field="*{address.streetName}" placeholder="cityName">
    <input type="text" th:field="*{address.houseNumber}" placeholder="cityName">
    <button type="submit">Submit</button>
</form>

</body>
</html>