<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>

<table border="1" cellspacing="0">
    <thead>
    <tr>
        <th>categoryName</th>
        <th>categoryDescription</th>
        <th>categoryImagePath</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tbody th:each="category : ${categories}">
    <tr>
        <td th:text="${category.categoryName}"></td>
        <td th:text="${category.categoryDescription}"></td>
        <td th:text="${category.assets.uploadPath}"></td>
        <td><a th:href="@{/api/category/edit/{categoryId}(categoryId = ${category.categoryId})}">Edit</a></td>
        <td><a th:href="@{/api/category/delete/{categoryId}(categoryId = ${category.categoryId})}">Delete</a></td>
    </tr>
    </tbody>
    </thead>
</table>

</body>
</html>